

nav {
    background-color: gray;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    text-align: center;
}
header nav ul li {
    margin-left: 2em;
    margin-right: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 0.9em; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav img {
    width: 100%;
}

body {
    background-color: white;
}

main {
    height: 95em;
}

p {
    font-family: inherit;
}

h1 {
    font-family: inherit;
}

h2 {
    font-family: inherit;
}



/* ----------------index  -----------------*/

.index p {
    font-size: 1em;
    width: 70%;
    color: white;
    border-radius: 0.1em;
    background-color:brown;
    margin: auto;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    font-size: 100%;
}

.index h1 {
    text-align: center;
    color: brown;

}

.index h2 {
    text-align: center;
    color: brown;
}

.logo {
    display: block;
    margin: 0 auto; /* Centraal plaatsen */
    width: 120px; /* Pas de breedte van de afbeelding aan */
    height: auto; /* Zorg dat de hoogte automatisch schaalt */
    margin-bottom: 5em;
    margin-top: 2em;
}











/* ----------------favoriete -----------------*/
.favoriete h1 {
    text-align: center;
    color: brown;
    margin-left: 3em;
    margin-right: 3em;
}

.favoriete h2 {
     font-size: 2em;
    color: brown;
    
}
.favoriete div {
    font-size: 1em;
    
}
    
.favoriete section {
    display: flex;
    flex-direction: column-reverse;
    
}

.favoriete div img {
 align-items: center;
 
}
.favoriete p {
font-size: 0.8em;


}






/* ----------------OVER HUN -----------------*/




 .over h1 {
    text-align: center;
    color: brown;
    
    margin-left: 3em;
    margin-right: 3em;
}
.over h2 {
    
    color: brown;
    font-size: 1.5em;
}

.over p {
    font-size: 1em;
    background-color: brown;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    
}

.over section:nth-of-type(3) {
    background-color: brown;
    color: white;
}

.over iframe{ 
    margin: 10px;
    background-color: black;

}

.over img {
    width: 300px;
}

